.wrapper-menu{
    max-height: 120 px;
    display: flex;
    overflow-x: auto;
    margin-top: 50px;
}
.wrapper-menu::-webkit-scrollbar{
    width: 0;
}
.wrapper-menu .item{
    min-width: 280px;
    height: 280px;
    line-height: 280px;
    text-align: center;
    color: #ffffff;
    background-color: #343a40;
    margin-right: 2px;
    border-radius: 100%;
}
.item img{
    height: 270px;
    border-radius: 100%;
}
.menu-title{
    position: relative;
    height: 100px;
    width: 500px;
    margin-left: 150px;
}
.menu-title .text-menu{
    height: 75px;
    font-family: serif;
    font-size: 80px;
    color: #ffffff;
}