.wrapper-menu{
    max-height: 120 px;
    display: flex;
    overflow-x: auto;
}
.wrapper-menu::-webkit-scrollbar{
    width: 0;
}
.wrapper-menu .item{
    min-width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: #ffffff;
    background-color: #343a40;
    margin-right: 2px;
    border-radius: 100%;
}
.item img{
    height: 290px;
    border-radius: 100%;
}
.menu-title{
    position: relative;
    height: 210px;
    width: 230px;
    margin-left: 150px;
}
.menu-title .text-menu{
    height: 75px;
    font-family: serif;
    font-size: 80px;
    color: #ffffff;
}